asgiref==3.12.1
cloudpickle==3.1.2
colorama==0.4.6
Django==6.1
et_xmlfile==2.0.0
fairlearn==0.14.0
joblib==1.5.3
llvmlite==0.49.0
narwhals==2.25.0
numba==0.67.0
numpy==2.5.2
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
python-dateutil==2.9.0.post0
scikit-learn==1.9.0
scipy==1.18.1
shap==0.52.0
six==1.17.0
slicer==0.0.8
sqlparse==0.6.0
threadpoolctl==3.6.0
tqdm==4.70.0
tzdata==2026.3
xgboost==3.4.1
